@media (max-width: 770px) {
  .container {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
  }
}

.slogan {
  color: white;
  font-family: 'Raleway';
  opacity: 0;
  font-weight: bolder;
}

.slogan-container {
  min-height: 20px;
  margin-bottom: 25px;
}
