
body {
  height: 100%;
  padding: 30px;
}

html {
  height: 100%;
}

@media (min-width: 412px) and (max-width: 528px){
  .project-title {
    color: white;
    padding-top: 3px;
    font-size: 22px;
    font-family: 'Raleway';
    border-bottom: 1px solid white;
  }
}

@media (min-width: 529px) {
  .project-title {
    color: white;
    padding-top: 3px;
    font-size: 35px;
    font-family: 'Raleway';
    border-bottom: 1px solid white;
  }

  .project-title-small {
    font-size: 27px !important;
    padding: 9px;
  }
}

@media (max-width: 411px) {
  .project-title {
    color: white;
    padding-top: 1px;
    font-size: 12px;
    font-family: 'Raleway';
    border-bottom: 1px solid white;
  }
  .project-title.noline {
    font-size: 18px;
    padding-top: 9px;
  }

  .project-title-small.noline {
    font-size: 15px;
    padding-top: 0px;
    padding-bottom: 3px;
  }
}

.project-title.noline {
  font-weight: bold;
  border-bottom: 0px solid white !important;
}


.minibox-group {
  padding-top: 30px;
  /*border: 1px solid black;*/
}

.project-mini-box.sold,
.project-box.sold  {
  background-color: rgba(150,150,150, .55);
}

.project-mini-box {
  min-width: 147px;
  max-height: 333px;
  opacity: 0;
  border: 2px solid white;
  overflow: hidden;
  margin-top:20px;
  border-radius: 6px;
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(150,150,150, 0);
  transition: background-color 1.1s;
}

.project-mini-box:hover {
  background-color: rgba(255,255,255, 0.3);
}

.project-thumb {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  max-height: 100%;
}

.nav-spacer {
  height: 100px;
}

.project-box {
  display: none; /* overriden by velocity.js as necessary */
  color: white;
  padding: 20px;
  font-family: 'Raleway';
  opacity: 0;
  border: 2px solid white;
  overflow: hidden;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(100,100,100, .75);
}

.project-description {
  padding: 10px;
}

.back-arrow {
  height: 50px;
  width: 50px;
}

.project-minibox-img {
  border: 2px solid white;
  border-radius: 7px;
  max-height: 260px;
}

.project-box-img {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid white;
  border-radius: 7px;
}

.blackbox {
  display: none;
  background-color: rgba(50,50,50,.9);
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  padding: 0px !important;
  margin: 0px !important;
  position: fixed;
  left: 0;
  top: 0;
}

.blackbox-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 2px solid white;
}

.darker-background {
  background-color: rgba(50,50,50,.9);
}

.blackbox-arrows {
  font-size: 40px;
  font-weight: bolder;
  color: white;
  margin-top: 27%;
  /*background-color: rgba(70,70,70,1);*/
}

.blackbox-arrows:hover {
  background-color: rgba(50,50,50,1);
}

.blackbox-contents {
  display: none;
}

@media (max-width: 576px) {
  .blackbox-arrows {
    padding: 0 0 0 0;
  }
}

@media (max-width: 397px) {
  /* we'll be using swipe events 
  only, presuming it's a mobile screen. */
  .blackbox-arrows {
    visibility: hidden;
  }
}
